.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #f5f5f5;
  z-index: 9;
}

.nav {
  padding: 10px 10vw;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 60px;
}

.logoItems {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navItems {
  display: flex;
  align-items: center;
}

.linkItem {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.linkItem:hover {
  color: rgb(3, 95, 95);
}

.linkItem:focus {
  color: rgb(4, 4, 190);
}

.linkItem img {
  width: 30px;
}

.linksContainer {
  width: 100%;
  display: flex;
  padding: 10px 10vw;
  justify-content: center;
  list-style: none;
  border-top: 1px solid #d1d1d1;
}

.link {
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #383838;
  opacity: 0.5;
  transition: 0.5s;
}

.link:hover {
  opacity: 1;
}

.logoTheme {
  color: #000;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

.line {
  border-left: 2px solid #535353;
  height: 30px;
}

.profiles{
  padding-left: 17px;
}
